@font-face {
    font-family: 'Baloo Da 2 Bold';
    src: url('com/easymed/fonts/BalooDa2-Bold.ttf');
}

.email {
    -fx-background-color: #fff;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 0px;
    -fx-border-color: #bababa;
}

.email:focused {
    -fx-border-width: 1px;
    -fx-border-color: #48bc9f;
}

.btn1 {
    -fx-padding: 10px 30px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-background-color: #465071;
    -fx-font-size: 15px;
    -fx-font-weight: bolder;
}

.btn2 {
    -fx-padding: 10px 30px;
    -fx-text-fill: white;
    -fx-background-color: #4dd1ce;
    -fx-font-size: 15px;
    -fx-font-weight: bolder;
}

.btn3 {
    -fx-padding: 5px 10px;
    -fx-text-fill: white;
    -fx-background-color: #4dd1ce;
    -fx-font-size: 12px;
}

.sidebarBtn-active {
    -fx-text-fill: white;
    -fx-background-color: #4dd1ce;
    -fx-font-size: 15px;
    -fx-font-weight: bolder;
    -fx-border-radius: 10px;
}

.sidebarBtn:hover {
    -fx-text-fill: white;
    -fx-background-color: #4dd1ce;
    -fx-font-size: 15px;
    -fx-font-weight: bolder;
    -fx-cursor: hand;
}

.btn1:hover, .btn2:hover, .btn3:hover, .sidebarBtn-active:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.input {
    -fx-background-color: #f1f1f1;
    -fx-font-size: 13px;
    -fx-background-radius: 10px;
    -fx-padding: 5px 20px;
    -fx-border-width: 1px;
    -fx-border-color: #d3d3d3;
    -fx-border-style: solid;
    -fx-border-radius: 10px;

}

.input:focused {
    -fx-border-width: 1px;
    -fx-border-color: #465071;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}

.appointment-card {
    -fx-background-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.appointment-card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.appointment-view:hover {
    -fx-cursor: hand;
}

.appointment-status {
    -fx-background-color: #4dd1ce;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}

.scroll-pane > .viewport {
    -fx-background-color: #d0e3f3;
    -fx-border-color: transparent;
}


.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0cm;
    -fx-border-radius: 0cm;

}

.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0cm;
    -fx-border-radius: 0cm;
    -fx-padding: 3px;
}

.scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0cm;
    -fx-border-radius: 0cm;
    -fx-padding: 3px;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #A2B8BE;
    -fx-background-radius: 40;
}

.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #A2B8BE;
    -fx-background-radius: 40;
}

.user-profile {
    -fx-background-color: #ffffff;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}